.history
.idea

/abi
/artifacts
/build
/cache
/dist
/forge-out
/node_modules
/out
/typechain
/types
/sandbox
coverage*

.env
.env.local
.act.input

.eslint.local.json
.eslintcache

.verifier*

.DS_Store
*.log
